/* Resetting default body margin and setting background color */
body {
    margin: 0;
    background-color: #FFFCF2;
}

/* Styling for the navigation bar */
.navbar {
    display: flex;
    background-color: #CCC5B9;
    position: fixed;
    top: 0;
    width: 100%;
    font-size: 20px;
}

/* Styling for the left part of the navigation bar */
.nav-left {
    display: flex;
    align-items: center;
}

/* Styling for the right part of the navigation bar */
.nav-right {
    display: flex;
    align-items: center;
    margin-left: auto; 
}

/* Styling for the search box */
.searchBox {
    background: #403D39;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
    margin: 10px;
}

/* Styling for search input when hovered */
.searchBox:hover > .searchInput {
    width: 240px;
    padding: 0 6px;
}

/* Styling for search button when hovered */
.searchBox:hover > .searchButton {
    background: white;
    color: #2f3640;
}

/* Styling for search button */
.searchButton {
    color: white;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #403D39;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    border: none;
    cursor: pointer;
}

/* Styling for search input */
.searchInput {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}

/* Media query for smaller screens */
@media screen and (max-width: 620px) {
    .searchBox:hover > .searchInput {
        width: 150px;
        padding: 0 6px;
    }
}

/* Styling for section-1 */
.section-1 {
    padding: 40px;
    background-image: url("bgimage.jpeg");
    background-repeat: repeat;
    background-attachment: fixed;
    height: 550px;
}

/* Styling for section-1 text */
.Section-1-text {
    display: block;
    border: black;
}

/* Styling for h1 inside section-1 */
h1 {
    font-size: 150px;
    color: white;
    font-family: 'fantasy', papyrus;
    margin: 30px 30px 0px 0px;
    padding: 20px 20px 0px 0px;
}

/* Styling for p inside section-1 */
.section-1 p {
    font-size: 30px;
    color: white;
    padding: 0px 0px 20px 20px;
    margin: 0px 0px 20px 20px;
}

/* Styling for section-2 */
.section-2 {
    padding: 35px;
}

/* Styling for h2 */
h2 {  
    font-family: sans-serif;
    font-size: xx-large;
    background-color: #CCC5B9;
    padding: 20px;
    margin: 20px 20px 20px 0px;
}

/* Styling for gallery div */
.gallery div {
    display: inline !important;
}

/* Styling for section-2 anchor tag */
.section-2 a {
    text-decoration: none;
}

/* Styling for image */
img {
    height: 300px;
    width: 230px;
    padding: 20px;
}

/* Styling for gallery */
.gallery {
    padding: 30px;
}

/* Styling for button */
.btn {
    display: block;
    border-radius: 30px;
    color: black;
    background-color: #CCC5B9;
    font-size: 20px;
    text-decoration: none;
    width: fit-content;
    height: fit-content;
    padding: 16px 20px;
    font-family: sans-serif;
}

/* Styling for button on hover */
.btn:hover {
    background-color: #EB5E28;
    color:white;
}

/* Styling for list items */
li {
    display: inline;
    float: left;
    padding-left: 15px;
}

/* Styling for list item anchor tag */
li a {
    display: block;
    padding: 8px 20px;
    text-decoration: none;
    color: black;
    font-family: sans-serif;
}

/* Styling for list items under navigation */
li ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

/* Styling for anchor tag when hovered */
li a:hover {
    background-color: #EB5E28;
    color:white;
}

/* Styling for active link */
.active {
    background-color: #04AA6D;
}

/* Global CSS resets */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
}

/* Root variables */
:root {
    --theme-col: #2d4bf0;
}

/* Utility class for spacing */
.space-y-2 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}

/* Styling for footer */
footer {
    background-color: #CCC5B9;
}

/* Styling for footer item container */
.f-item-con {
    padding: 1.5rem 4rem;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 2rem;
}

/* Styling for app name */
footer .app-name {
    color: white;
    border-left: 4px solid var(--theme-col);
    padding-left: 1.5rem;
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
}

/* Styling for initial of app name */
.app-name .app-initial {
    color: var(--theme-col);
}

/* Styling for app information paragraph */
footer .app-info p {
    color: black;
    padding-left: 1.65rem;
}

/* Styling for footer title */
footer .footer-title {
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: black;
    padding-left: 1.5rem;
    height: fit-content;
}

/* Styling for footer unordered list */
footer ul {
    padding-left: 1.75rem;
    color: black;
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem;
    margin-top: .5rem;
}

/* Styling for footer list items */
footer ul li {
    margin: .25rem 0;
    cursor: pointer;
    color: black;
    width: fit-content;
}

/* Styling for footer list items when hovered */
footer ul li:hover {
    color: black;
}

/* Styling for help section in footer */
footer .help-sec {
    grid-column-start: 2;
}

/* Styling for footer content container */
footer .cr-con {
    background-color: #403D39;
    color: white;
    padding: 1rem 4rem;
    text-align: center;
}

/* Styling for get in touch section */
.g-i-t {
    display: grid;
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

/* Styling for get in touch form */
.g-i-t form {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

/* Styling for input fields */
form .g-inp {
    padding: 0.25rem 0.5rem;
    font-size: 16px;
    background-color: #FFFCF2;
    border-radius: 5px;
}

/* Styling for textarea */
.g-inp textarea {
    height: 150px;
}

/* Styling for submit button */
.f-btn {
    padding: .25rem 1rem;
    background-color:#EB5E28;
    border-radius: 30px;
    font-size: 16px;
    color: white;
    font-weight: 500;
}

/* CSS for error messages */
.error {
    color: red;
    font-size: 12px;
    margin-top: 4px;
}

/* CSS for highlighting invalid input fields */
input.invalid,
textarea.invalid {
    border: 1px solid red;
}
